#nav-container {
  height: 45px;
}

.container {
  margin-top: 45px;
}

.top-bar-section ul li div>a {
  display: block;
  width: 100%;
  color: #fff;
  padding: 12px 0 12px 0;
  padding-left: 15px;
  font-size: 0.8125em;
  font-weight: bold;
}

div>a#login-sign-in-link, div>a#login-name-link {
  text-decoration: none;
}

div#login-dropdown-list a.login-close-text, div#login-dropdown-list a.additional-link {
  padding: 0 0 0 0;
  margin-bottom: 8px;
  height: 30px;
  background-color: white;
  color: black;
}

div#login-password-label-and-input {
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer {
  margin-top: 10px;
}

.dropdown-display {
  top: auto;
  background: white;
}

#notifications.dropdown-display {
  background: white;
  padding: 0 0 0 0;
}

.dropdown-scroll {
  max-height: 400px;
  overflow-y: auto;
}

#notifications.dropdown-display>li:hover {
  cursor: auto;
  background: rgb(240, 240, 240);
}

li.notification-text, a.notification-text {
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-size: 0.875em;
  font-family: inherit;
  color: #222;
}

li.notification-text:last-child, a.notification-text:last-child {
  border-bottom: 0px solid #ccc;
}

li.notification-text.unseen, a.notification-text.unseen {
  background: rgb(230, 230, 230);
}

div.row.project-listing {
  padding-top: 7px;
  padding-bottom: 7px;
}

select {
  margin-bottom: 7px;
}

input.submit, form div.prize.row {
  margin-top: 7px;
  margin-bottom: 7px;
}

#hackathonModal {
  max-height: 500px;
  overflow-y: auto;
}

.show-line-breaks {
  white-space: pre-line;
}

.row.mentor-description {
  margin-top: 10px;
}
