#nav-container {
  height: 45px;
}

ul {
  list-style: none;
}

.notifications-list div:first-child {
  border-top: 1px solid #ccc;
}

.notification {
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
}

#footer {
  padding-top: 18px;
  border-top: 1px solid #eee;
  padding-left: 183px;
}

.row {
  margin-left: 0px;
}

.navbar>.navbar-inner {
  padding-left: 150px;
  padding-right: 150px;
  background-color: #45bcd2;
  background-image: none;
}

.navbar a.brand {
  color: #fff;
}

.navbar ul.nav>li>a {
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
}

.container {
  margin-top: 45px;
}

.top-bar-section ul li div>a {
  display: block;
  width: 100%;
  color: #fff;
  padding: 12px 0 12px 0;
  padding-left: 15px;
  font-size: 0.8125em;
  font-weight: bold;
}

div>a#login-sign-in-link, div>a#login-name-link {
  text-decoration: none;
}

#footer {
  margin-top: 10px;
}

.dropdown-display {
  top: auto;
  background: white;
}

#notifications {
  background: white;
}

.dropdown-scroll {
  max-height: 400px;
  margin-left: 0px;
  padding: 0px 20px 0px 20px;
}

#notifications li.notification-text:hover {
  cursor: auto;
  background: rgb(240, 240, 240);
}

li.notification-text, a.notification-text {
  max-width: 200px;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-size: 0.875em;
  font-family: inherit;
  color: #222;
}

li.notification-text:last-child, a.notification-text:last-child {
  border-bottom: 0px solid #ccc;
}

li.notification-text.unseen, a.notification-text.unseen {
  background: rgb(230, 230, 230);
}

div.row.project-listing {
  padding-top: 7px;
  padding-bottom: 7px;
}

select {
  margin-bottom: 7px;
}

input.submit, form div.prize.row {
  margin-top: 7px;
  margin-bottom: 7px;
}

#hackathonModal {
  max-height: 500px;
  overflow-y: auto;
}

.show-line-breaks {
  white-space: pre-line;
}

.row.mentor-description {
  margin-top: 10px;
}

.modal form {
  margin-bottom: 0px;
}
